/vendor/
/composer.lock
/node_modules/
/npm-debug.log
/yarn-error.log
.env
.env.*.php
Homestead.yaml
Homestead.json
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.log
coverage/
/.phpunit.result.cache
